*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Drupal
docker/drupal/web/sites/*/settings*.php
docker/drupal/web/sites/*/files
docker/drupal/web/sites/*/private